{% extends "baseLayout.html" %}

{% block title %}Georg-Simon-Ohm-Berufskolleg Köln - Marketplace{% endblock %}

{% block content %}
    <div class="full-width-banner">
        <div class="banner-inner">
            <h1>{% block page_title %}Marketplace{% endblock %}</h1>
            {% if current_user.is_authenticated %}
            <form action="/logout">
                <button class="btn-small-outline btn-white-background">Logout</button>
            </form>
            {% endif %}
        </div>
    </div>

    {% for notif in session['notifications'] %}
      <section class="dash-card">
        <div class="notification notification-{{ notif.type }}">
            {{ notif.message }}
            <form action="/confirm-receipt/{{ loop.index0 }}" method="GET">
                <button type="submit" class="btn-small-outline btn-white-background btn-submit-message" title="Benachrichtigung quittieren">
                    ✓
                </button>
            </form>
        </div>
      </section>
    {% endfor %}

    <div class="mainContainer">
        {% block sub_content %}
        {% endblock %}
    </div>
{% endblock %}

